<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./styles/index.css"> -->
    <title>Document</title>
    <style>
        .red{
            color: #FF0000;
        }
    </style>
</head>
<body>
    <div id="app" class="score-case">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>科目</th>
                        <th>成绩</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody v-if="list.length > 0">
                    <tr v-for="(item, index) in list" :key="item.id">
                        <td>{{index+1}}</td>
                        <td>{{item.subject}}</td>
                        <td :class="{red:item.score<60}">{{item.score}}</td>
                        <!-- .prevent 阻止默认行为 -->
                        <td><a @click="del(item.id)" href.prevent="#">删除</a></td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="5">
                            <span class="none">暂无数据</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <span>总分：{{totalScore}}</span>
                            <!-- <span style="margin-left: 50px;">平均分：{{totalScore/list.length}}</span> -->
                            <span style="margin-left: 50px;">平均分：{{avgScore}}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div>
                <div class="form">
                    <div class="form-item">
                        <div class="label">科目：</div>
                        <div class="input">
                            <input type="text" placeholder="请输入科目" v-model.trim="subject">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="label">分数：</div>
                        <div class="input">
                            <input type="text" placeholder="请输入分数" v-model.number="score" @keyup.enter="add">
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label"></div>
                    <div class="input">
                        <button @click="add" class="submit">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../vue.js"></script>
    <!-- 
        目标1：渲染功能
        1.1 使用 v-if 来控制 tbody 互斥显示
        1.2 使用 v-for 渲染列表
        1.3 使用动态 class 设置成绩颜色

        目标2：删除功能
        2.1 给删除按钮绑定点击事件，并使用事件修饰符 .prevent 阻止默认行为
        2.2 使用 id
        2.3 使用 filter 筛选删除数据

        目标3： 添加功能
        3.1 使用 v-model 双向绑定科目和成绩
        3.2 分别使用 .trim 和 .number 修饰符 来修饰 科目和成绩
        3.3 给添加按钮绑定点击事件，实现 添加逻辑(非空校验、纯数字校验、加入数组、清空表单)
        3.4 给分数文本框添加一个键盘按下事件，使用 .enter 修饰符 来捕获用户按下的 回车 操作
     -->
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                list:[
                    { id:1, subject:'语文', score:20},
                    { id:2, subject:'数学', score:99},
                    { id:12, subject:'英语', score:70}
                ],
                subject:'',
                score: ''
            },
            methods:{
                del(id){
                    this.list = this.list.filter(item=>item.id!==id)
                },
                add(){
                    if(this.subject === ''){
                        return alert('请输入科目')
                    }
                    if(typeof(this.score) !== 'number'){
                        return alert('请输入分数')
                    }
                    this.list.push({
                        id: +new Date(),
                        subject:this.subject,
                        score:this.score
                    })
                    // 清空表单
                    this.subject = ''
                    this.score = ''
                }
            },
            computed:{
                totalScore(){
                    return this.list.reduce((sum,item)=>sum+item.score,0)
                },
                avgScore(){
                    // 排除 除0 情况
                    return (this.totalScore / this.list.length) || 0;
                }
            }
        })
    </script>
</body>
</html>