<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h3>小黑水果店</h3>
        <ul>
            <!-- v-for 写 谁的标签上 就是 重复渲染 哪个标签 -->
            <!-- 语法： v-for="(每一项, 索引) in 数组" -->
            <!-- <li v-for="item in list"> {{ item }} </li> -->
            <li v-for="(aaa, bbb) in list"> {{ aaa }} </li>
            <li v-for="(aaa, bbb) in list"> {{ bbb }} </li>
            <li v-for="(aaa, bbb) in list"> {{ list[bbb] }} </li>
        </ul>
    </div>
    
    <script src="./vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                list : [ '西瓜', '苹果', '鸭梨', '榴莲' ]
            },
            //methods 中存放函数
            methods:{
                Change(){this.isShow=!this.isShow}
            }
        })
    </script>
    
</body>
</html>