<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        textarea{
            display: block;
            width: 240px;
            height: 100px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>小黑学习网</h3>
        姓名：
            <input type="text" v-model="username"><br><br>
        是否单身：
        <!-- v-model 绑定的是 布尔值，则绑定到 checkbox 的 是否勾选的属性值 -->
            <input type="checkbox" v-model="isSingle"><br><br>
        兴趣爱好：
        <!-- v-model 绑定的是 数组，则绑定到 checkbox 的 value 值，然后 将值 加入到 数组中 -->
            <input type="checkbox" value="smoke" v-model="hobby">抽烟
            <input type="checkbox" value="drink" v-model="hobby">喝酒
            <input type="checkbox" value="hothead" v-model="hobby">烫头
            <br><br>
        性别：
        <!-- 
            前置理解：
                1. name：给单选框加上 name 属性，可以分组 -> 同一组互斥
                2. value：给单选框加上 value 属性，用于提交给后台的数据
            结合 Vue 使用 -> v-model
         -->
            <input type="radio" name="aaa" value="2" v-model="gender">男
            <input type="radio" name="aaa" value="3" v-model="gender">女
            <br><br>
        <!-- 
            前置理解：
                1. option 需要设置 value 值，提交给后台
                2. select 的 value 值，关联了选中的 option 的 value 值
            结合 Vue 使用 -> v-model
         -->
         所在城市：
            <select v-model="city">
                <option value="bj">北京</option>
                <option value="sh">上海</option>
                <option value="cd">成都</option>
                <option value="nj">南京</option>
            </select>
            <br><br>
        自我描述：
            <textarea v-model="intro"></textarea>
    </div>
    
    <script src="../vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                username:'',
                isSingle:true,
                hobby:['drink'],
                gender : '2',
                city:'cd',
                intro:'自我介绍'
            },
            //methods 中存放函数
            methods:{
            }
        })
    </script>
    
</body>
</html>